@import 'variables';
@import 'utilities';

@include reset;

/*-------------CABEÇALHO-------------*/
@import 'cabecalho';

/*-------------SERVIÇOS-------------*/
@import 'servicos';

/*-------------PORTFÓLIO------------*/
.works__container {
    background-color: $secondary-bg;
    padding: 3rem;

    h2 {
        @extend %section-title;
    }

    .works__list {
        display: flex;
        padding: 2rem 0;
    }

    .work__first--card {
        width: 30%;
        height: 415px;
        background-image: url('../img/job1.jpg');
        position: relative;
        cursor: pointer;
        transition: .5s;
        @extend %center-bg;
        @extend %card-hover;
    }

    .work__other--cards {
        display: flex;
        flex-wrap: wrap;
        width: 68%;
        //justify-content: space-around;
    }
}