@import 'variables';

body {
    font-family: 'Lato';
}

.nav__container--header {
    background-color: $bg-black;
    display: flex;

    a {
        color: $li__text--color;
        text-decoration: none;
    }

    i {
        color: $li__text--color;
        cursor: pointer;
    }

}

.btn {
    padding: 4px;
    border: 1px solid white;
    br
}