@import 'variables';

body {
    font-family: 'Lato';
}

.nav__container--header {
    background-color: $bg-black;

    a {
        
    }

    i {
        color: $li__text--color;
    }

    li {
        color: $li__text--color;
    }
}