@import 'variables';
@import 'utilities';

@include reset;

/*-------------CABEÇALHO-------------*/
@import 'cabecalho';

/*-------------SERVIÇOS-------------*/
@import 'servicos';

/*-------------PORTFÓLIO------------*/
@import 'portfolio';

/*-------------RODAPÉ------------*/
footer {
    background-color: $footer-bg;
    color: $text-color;
    padding: 5rem 2 rem;

    .footer
}